<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ site.Title }}">
<meta property="og:title" content="{{ .Title | default site.Title }}">
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Summary | plainify | htmlUnescape }}{{ end }}">
<meta property="og:locale" content="{{ replace (.Params.locale | default site.Language.Locale) `-` `_` }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
{{- with partial "templates/_funcs/get-page-images.html" . }}{{ range first 6 . }}<meta property="og:image" content="{{ .Permalink }}">{{ end }}{{ end }}
{{- if .IsPage }}{{ with .PublishDate }}<meta property="article:published_time" content="{{ .Format "2006-01-02T15:04:05-07:00" | safeHTML }}">{{ end }}{{ with .Lastmod }}<meta property="article:modified_time" content="{{ .Format "2006-01-02T15:04:05-07:00" | safeHTML }}">{{ end }}{{ end }}
