<!-- Pagefind Styles und Scripte laden -->
<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js" type="text/javascript"></script>

<!-- Hier wird das Suchfeld generiert -->
<div id="search"></div>

<!-- Suchfeld aktivieren -->
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ 
            element: "#search", 
            showSubResults: true,
            translations: {
                placeholder: "Blog durchsuchen...",
                clear_search: "Löschen",
                load_more: "Mehr Ergebnisse laden",
                search_label: "Suche nach diesem Blog",
                filters_label: "Filter",
                zero_results: "Keine Ergebnisse für [SEARCH_TERM]",
                many_results: "[COUNT] Ergebnisse für [SEARCH_TERM]",
                one_result: "[COUNT] Ergebnis für [SEARCH_TERM]",
                alt_search: "Keine Ergebnisse für [SEARCH_TERM]. Zeige stattdessen Ergebnisse für [DIFFERENT_TERM]",
                search_suggestion: "Keine Ergebnisse für [SEARCH_TERM]. Meintest du [DIFFERENT_TERM]?",
                searching: "Suche nach [SEARCH_TERM]..."
            }
        });
    });
</script>